li {
    list-style-type: none;
    font-size: 1.5vw;

}

.languages-ul p {
    padding-left: 5px;
    color: black;
    font-family: 'Inter', sans-serif;
}

.languages-ul li:hover p {
    border-left: 5px solid #058CD9;
    font-weight: bold;
    cursor: pointer;
}
