li {
    margin: 5px;
    padding: 5px;
    list-style-type: none;

}

a {
    padding-left: 5px;
    color: black;
    text-decoration: none;
}

a:active {
    border-left: 5px solid #058CD9;
    font-weight: bold;
}

li:hover a {
    border-left: 5px solid #058CD9;
    font-weight: bold;
}


li:hover:after a,
li:focus:after a {
    border-left: 5px solid #058CD9;

}