.cardN {
    width: 13vw;
    height: 13vw;
    cursor: pointer;
    border-radius: 1vw;
    position: relative;
    color: white;
    overflow: hidden;
}

img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;

}

.CountryInfo {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 9;
    background: linear-gradient(180deg, rgba(31, 30, 30, 1), rgba(97, 90, 90, 0.7818), rgba(108, 105, 105, 0.6146), rgba(217, 217, 217, 0.1));
    padding-top: 1vw;
}
.CountryInfo:hover{

    background: linear-gradient(180deg, rgba(31, 30, 30, 0), rgba(97, 90, 90, 0), rgba(108, 105, 105, 0), rgba(217, 217, 217, 0));
    color: #FFFFFF;
    text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}

.CountryInfo p {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding-left: 1vw;
    word-wrap: break-word;
    width: 12vw;
    font-size: 1.1vw;
}
