.main-container {
    display: flex;
    flex-direction: row;
}

.languages-container {
    width: 25%;
    min-width: 200px;
    max-width: 300px;
    background-color: #8BCCE7;
}

.content-container {
    width: 75%;
    float: left;
    height: 100vh;
    position: relative;
}

.countries-container {
    padding: 2vw;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;

}

.pagination-container {
    width: 100%;
    text-align: center;
    margin: 0;
    bottom: 0;
    position: absolute;

}

